.htaccess
.htaccess.sample
.modgit/
.modman/
.idea/
app/etc/applied.patches.list
#app/etc/config.xml
#app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
favicon.ico
#includes/
index.php.sample
#media/customer/
#media/dhl/
#media/downloadable/
#media/.htaccess
media/import/
#media/xmlconnect/
media/catalog/product/cache/
media/catalog/product/placeholder/default/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
#sitemap.xml
var/
.htaccess.preinstall
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
downloader/*
maintenance.flag
media
skin/frontend/ultimo/default/css/_config/
