<?xml version="1.0"?>
<config>
    <modules>
        <RG_Catalog>
            <version>0.1.2</version>
        </RG_Catalog>
    </modules>
    <global>
        <models>
            <rg_catalog>
                <class>RG_Catalog_Model</class>
                <resourceModel>rg_catalog_resource</resourceModel>
            </rg_catalog>
            <rg_catalog_resource>
                <class>RG_Catalog_Model_Resource</class>
            </rg_catalog_resource>
        </models>
        <blocks>
            <rg_catalog>
                <class>RG_Catalog_Block</class>
            </rg_catalog>
        </blocks>
        <helpers>
            <rg_catalog>
                <class>RG_Catalog_Helper</class>
            </rg_catalog>
        </helpers>
        <resources>
            <rg_catalog_setup>
                <setup>
                    <module>RG_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </rg_catalog_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <rg_catalog>
                    <file>rg_catalog.xml</file>
                </rg_catalog>
            </updates>
        </layout>
    </frontend>
</config>