/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */



/* Stock indicator on product page: icon color
-------------------------------------------------------------- */

/*
.availability-only .ic { color: green; }
*/



/* Product counter in the mini cart drop-down
-------------------------------------------------------------- */

/*
.header .skip-link .count {
	background-color: deepskyblue;
}
*/
.header-top-container{
	display: none;
}
.header .item{
	float: left;
}
.header .right-column .item {
	float: none;
}
.header .logo-wrapper .logo{
	margin: 0;
	max-width: 100%;
}

/*Menu*/
#nav{
	margin-top:26px;
}
.nav-regular .classic > .nav-panel--dropdown {
	padding: 10px 20px 0;
}
.nav-regular .nav-panel li.classic{
	padding-bottom: 10px;
}

.ic-cart::before, .ic-cart1::before{
	content: "";
}
.ic-cart, .ic-cart1{
	background: url("../images/icon_cart.png") 0 0 no-repeat;
	height: 26px;
	width: 33px;
}
#mini-cart .caret{
	border: none;
	position:relative;
	height:20px;/*height should be double border*/
	top: 8px;
}
#mini-cart .caret:before,
#mini-cart .caret:after{
	position:absolute;
	display:block;
	content:"";
	border:7px solid transparent;/*adjust size*/
}
/*Change four 'top' values below to rotate (top/right/bottom/left)*/
#mini-cart .caret:before{
	top:0;
	border-top-color:#222;
}
#mini-cart .caret:after{
	top:-2px;/*adjust thickness*/
	border-top-color:#fff;/*Match background colour*/
}
#mini-cart.dropdown .caret{
	opacity: 0.6;
}
#mini-cart.dropdown .dropdown-heading.cover > span, #mini-cart.dropdown .dropdown-heading.cover > div{
	padding: 0 24px 0 10px;
}
#mini-cart.dropdown .dropdown-heading.cover > span:hover .caret{
	opacity: 1;
}
.header-regular .right-column .user-menu .search-wrapper{
	width: 237px;
}
/* account links */
#account-links-wrapper-regular {
	display: inline-block;
}
#account-links-wrapper-regular .links > li > a {
	background-image: url("../images/bg-account-links-separator.png");
	font-family: "Oswald",sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 0 0.5833em 0 1.5em;
	text-transform: uppercase;
}
#account-links-wrapper-regular .links > li.first > a {
	background-image: none;
	color: #949494;
}
#account-links-wrapper-regular .links > li.last > a {
	color: #676767;
}
/* search */
#search-wrapper-regular {
	display: inline-block;
}
#search-wrapper-regular .form-search .input-text {
	font-family: "Titillium web","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
}
#search-wrapper-regular .form-search .button {
	background: rgba(0, 0, 0, 0) url("../images/bg-search-icon.png") no-repeat scroll center center;
}
#search-wrapper-regular .form-search .button::before {
	content: none;
}
/* mini cart */
#mini-cart-wrapper-regular {
	display: inline-block;
	margin-left: 10px;
}
/* store switcher */
#store-switcher {
	display: inline-block;
	margin-left: 15px;
}
#store-switcher .links {
	float: right;
}
#store-switcher .links > li {
	margin-left: 5px;
}
#store-switcher .links > li > span,
#store-switcher .links > li > a {
	background: #909497 none repeat scroll 0 0;
	-webkit-border-radius: 12px;/*Safari, Chrome*/
	-moz-border-radius: 12px;/*Firefox*/
	border-radius: 12px;
	color: #ffffff;
	display: inline-block;
	font-family: "Titillium web","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: 700;
	height: 25px;
	line-height: 25px;
	padding: 0;
	text-align: center;
	width: 25px;
}
#store-switcher .links > li.current > span,
#store-switcher .links > li.current > a {
	background: #428dc7 none repeat scroll 0 0;
}
#store-switcher .links > li > a:hover {
	color: #ffffff !important;
}
/*HOME*/
/* Slideshow */
.pagination-pos-over-bottom-centered .owl-pagination{
	margin-top: -65px;
}
.the-slideshow .owl-controls.clickable .owl-buttons div,
.the-slideshow .owl-controls.clickable .owl-buttons div:hover{
	background: none;
}
.slider-arrows2 .owl-controls .owl-buttons div{
	font-size: 50px;
}
.slider-arrows2 .owl-controls .owl-buttons .owl-next{
	right: 2%;
}
.slider-arrows2 .owl-controls .owl-buttons .owl-prev{
	left:2%;
}
.owl-carousel .owl-wrapper .owl-item .item.slide{
	background: #000;
	text-align: center;
}
.owl-carousel .owl-wrapper .owl-item .item.slide a,
.owl-carousel .owl-wrapper .owl-item .item.slide a:hover{
	color: #fff;
}
.caption{
	bottom: auto;
	font-family: "Oswald", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3.3em;
	font-weight: 300;
	left: 50%;
	margin:-120px 0 0 -150px;
	text-transform: uppercase;
	top: 50%;
	width: auto;
}
.caption p{
	line-height: 1.2;
	margin-bottom: 0;
	padding: 0;
}
.caption p.see-prod{
	border: 2px solid #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin-top: 7%;
	padding: 4% 13%;
}
.caption.light1 .heading,
.caption.light1 p,
a:hover .caption.light1 .heading,
a:hover .caption.light1 p{
	background: none;
	color:#fff;
}
.caption.centered > *{
	display: block;
}
.slider-pagination1 .owl-controls .owl-page{
	display: inline-block;
	height: 17px;
	width: 18px;
	margin:0 3px;
}

.slider-pagination1 .owl-controls .owl-page.active {
	border: 1px solid #428dc7;
	border-radius: 10px;
}
.slider-pagination1 .owl-controls .owl-page span{
	display: inline-block;
	height: 10px;
	margin: 0;
	width: 10px;
}

/*Block centered*/
.home-centered div{
	height: 241px;
	margin: 0;
	overflow: hidden;
}
.home-centered div img{
	max-width:none;
}
.home-centered div.grid12-3{
	width: 25%;
}
.home-centered div.grid12-6{
	width: 50%;
}
.home-centered div.grid12-3 .info {
	background: #293036;
	box-sizing: border-box;
	color: #fff;
	padding: 45px 10% 0;
	text-align: center;
}
.home-centered div.grid12-3 .info h3{
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}
.home-centered div.grid12-3 .info p{
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}
.home-centered div.grid12-3 .info a{
	color: #fff;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 700;
	line-height: 19px;
}
.home-centered div.grid12-3 .info a:hover {
	color: #428dc7;
}


.main-container{
	background: url("../images/bg.png") 0 0 repeat;
}
.main{
	background: none;
}
.inner-container{
	padding: 0;
}

/*CONTACT US*/
.fieldset .legend{
	border-bottom: none;
	font-size: 2.2em;
	text-transform: uppercase;
}
#contactForm{
	float: left;
	width: 70%;
}
#contactForm .form-list label{
	display: none;
}
#contactForm .form-list input,
#contactForm .form-list textarea{
	font-size: 15px;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contactForm .form-list .field{
	width: 50%;
}
#contactForm .form-list input.input-text{
	width: 98%;
}
#contactForm .form-list textarea{
	max-width: 99%;
	width: 100%;
}
#contactForm .buttons-set{
	padding-right: 1%;
}
#contactForm .buttons-set button.button{
	line-height: 35px;
}
#contactForm .buttons-set p.required{
	float: none;
	margin: 0 0 10px;
}
.buttons-set{
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.buttons-set button.button{
	background-color: #428dc7;
	border: 1px solid #6ba5d2;
	color: #fff;
	font-family: "Oswald", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	min-width: 180px;
	outline: 1px solid #428dc7;
	text-transform: uppercase;
}
.contactus{
	border-left: 1px solid #d5d5d5;
	box-sizing: border-box;
	float: right;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:25px;
	margin-left: 2%;
	margin-top: 50px;
	padding-left: 2.5%;
	width: 28%;
}
.contactus strong{
	color:#428dc7;
	font-size: 15px;
	text-transform: uppercase;
}
.contactus p:last-child{
	margin-bottom: 0;
}
/* do not group these rules */
*::-webkit-input-placeholder {
	color: #428dc7;
	opacity: 1;
}
*:-moz-placeholder {
	/* FF 4-18 */
	color: #428dc7;
	opacity: 1;
}
*::-moz-placeholder {
	/* FF 19+ */
	color: #428dc7;
	opacity: 1;
}
*:-ms-input-placeholder {
	/* IE 10+ */
	color: #428dc7;
	opacity: 1;
}
/* FOOTER */
.footer-top-container,
.footer-primary-container,
.footer-secondary-container{
	display: none;
}
.footer-bottom-container {
	background: #ebebeb url("../images/bg-footer.png") repeat scroll center top;
}
.footer-copyright {
	font-family: "Oswald",sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.block_footer_contact {
	font-family: "Oswald",sans-serif;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}
.block_footer_contact strong {
	font-weight: 700;
}
.block_footer_contact .email {
	background: rgba(0, 0, 0, 0) url("../images/icon_email.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 15px;
	line-height: 1em;
	text-indent: -999999px;
	width: 19px;
}
.block_footer_social ul {
	margin: -7px 0 0 7px;
}
.block_footer_social ul li {
	display: inline-block;
	float: left;
	margin: 0 7px 0 0;
}
/* Category Page */
.breadcrumbs {
padding-top: 5px;
}
.breadcrumbs li a {
	color: #535353;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.breadcrumbs li .last-crumb {
	color: #428dc7;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.breadcrumbs .sep::before {
	color: #535353;
	content: '\203A';
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.page-title.category-title {
	display: none;
}
.category-image {
	margin-top: -24px;
}
.catalog-category-view .main.container {
	padding-top: 28px;
}
.sidebar .block .block-title {
	border-bottom: 1px solid #acb1b4;
	padding-bottom: 15px;
}
.sidebar .block .block-title strong {
	color: #27282a;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
.block-layered-nav .block-content > dl > dt {
	color: #428dc7;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.block-layered-nav .block-content > dl > dd {
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
}
.block-layered-nav .block-content a {
	color: #000000;
}
.block-layered-nav dl dd ol > li > a .count {
	color: #000000;
}
.block-layered-nav dl dd ol > li > a::before {
	border-right: none;
	border-left: 4px solid #000000;
	border-top: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid rgba(0, 0, 0, 0);
}
#narrow-by-list dd .swatch-label {
	border: 1px solid #cdcdcd;
	color: #000000;
	font-size: 16px;
}
.block-layered-nav .currently .block-subtitle {
	color: #428dc7;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.block-layered-nav .actions,
.block-layered-nav .currently {
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.category-products .toolbar {
	border-top: 0 none;
	border-bottom: 1px dashed #e5e5e5;
}
.category-products .toolbar .sorter {
	color: #000000;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.category-products .toolbar .sorter .amount {
	color: #000000;
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.category-products .toolbar .sorter .amount strong {
	font-weight: 400;
}
.category-products .toolbar .sorter .limiter select,
.category-products .toolbar .sorter .sort-by select {
	font-family: "Titillium web","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 30px;
	padding: 0;
}
.sorter .view-mode a {
	background-color: #a2adb4;
}
.category-products-grid .item {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}
.category-products-grid .item .product-name {
	color: #666363;
	font-size: 16px;
	font-weight: 700;
	margin: 14px 0 6px;
}
.category-products-grid .item .product-name a {
	color: #666363;
}
.category-products-grid .item .short-description {
	color: #666363;
	font-family: "Titillium web","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: 400;
}
.category-products-grid .item .actions .button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #428dc7;
	font-family: "Titillium web","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 700;
}
/* Responsive */
@media only screen and (max-width: 1037px) {
	.header-regular .right-column .user-menu .search-wrapper {
		width: auto;
	}
}

@media only screen and (max-width: 1200px) {
	.main-container .container{
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.home-centered div.grid12-3 .info{
		padding:30px 10% 0;
	}
}

@media only screen and (max-width: 960px) {
	.home-centered div.grid12-6,
	.home-centered div.grid12-6 img,
	.home-centered div.grid12-3,
	.home-centered div.grid12-3 img{
		width: 100%!important;
	}
	.home-centered div{
		height: auto;
		min-height: 180px;
	}
	.home-centered div.grid-center{
		width: 50%!important;
	}
}

@media only screen and (max-width: 769px) {
	#store-switcher {
		margin: 0;
		width: 100%;
	}
	#store-switcher .links {
		float: none;
		text-align: center;
	}
	#store-switcher .links > li {
		display: inline-block;
		float: none;
		margin: 0 5px;
	}
	.header .hp-block .item {
		float: none;
	}
	#search-wrapper-regular {
		margin: -18px 0 0;
		width: 100%;
	}
	#account-links-wrapper-regular {
		width: 100%;
	}
	#account-links-wrapper-regular .links > li > a {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		padding: 0 0.5833em;
	}
	#store-switcher {
		display: none;
	}
	.block_footer_social {
		display: none !important;
	}
}

@media only screen and (max-width: 639px) {
	.home-centered div{
		min-height: auto;
	}
	.home-centered div.grid12-3 .info {
		padding: 30px 4%;
	}
}
/* Items */
.itemslider .item {padding:0px; margin: 0 5px; background-color: #fff}
.cms-home .products-grid .item {padding-bottom: 0px}
.itemslider .more-info{background-color: #008eca; height: 46px; display: block}
.itemslider .more-info span{padding: 15px 0 10px; display: block;color: #fff; font-family: "Oswald", georgia, serif; font-size:14px}
/*RG product properties*/
.sun {background: url(../images/sun.png) 0 0 no-repeat transparent;}
.wet {background: url(../images/nube.png) 0 0 no-repeat transparent;}
.adv {background: url(../images/adversidad.png) 0 0 no-repeat transparent;}
.bkg-prop{padding-left: 40px;height: 29px;padding-bottom: 5px;width: 100px}
.bkg-prop label{display: none}
.bkg-prop span{
	background-image: url(../images/bg-puntaciones-product.png);
	background-repeat: repeat-x;
	background-position: -5px 7px;
	height: 29px;
	width: 100px;
	display: block;
}
.bkg-prop span span.span-0{
	background-position: -5px -23px;
	width: 0px;
}
.bkg-prop span span.span-1{
	background-position: -5px -23px;
	width: 19px;
}
.bkg-prop span span.span-2{
	background-position: -5px -23px;
	width: 39px;
}
.bkg-prop span span.span-3{
	background-position: -5px -23px;
	width: 60px;
}
.bkg-prop span span.span-4{
	background-position: -5px -23px;
	width: 78px;
}
.bkg-prop span span.span-5{
	background-position: -5px -23px;
	width: 100px;
}
.bkg-prop:before,
.bkg-prop:after {
	box-sizing: inherit;
}
/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
	position: relative;
	cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition:
	opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:
	opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:
	opacity 0.2s ease-in-out,
	visibility 0.2s ease-in-out,
	transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
	pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
	z-index: 1000;
	padding: 8px;
	width: 160px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
	margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
	-webkit-transform: translateY(-12px);
	-moz-transform:    translateY(-12px);
	transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
	right: 100%;
	bottom: 50%;
	left: auto;
}

.tooltip-left:before {
	margin-left: 0;
	margin-right: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-left-color: #000;
	border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
	-webkit-transform: translateX(-12px);
	-moz-transform:    translateX(-12px);
	transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
	top: 100%;
	bottom: auto;
	left: 50%;
}

.tooltip-bottom:before {
	margin-top: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-bottom-color: #000;
	border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
	-webkit-transform: translateY(12px);
	-moz-transform:    translateY(12px);
	transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
	bottom: 50%;
	left: 100%;
}

.tooltip-right:before {
	margin-bottom: 0;
	margin-left: -18px;
	border-top-color: transparent;
	border-right-color: #000;
	border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
	-webkit-transform: translateX(12px);
	-moz-transform:    translateX(12px);
	transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
	top: 10px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
	margin-left: -6px;
	margin-bottom: -15px;
}
/*** ARQUEROS ***/
.arqueros{
	font-family: "Titillium web", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.arqueros .sep-line{
	border-top: 1px solid #acb1b4;;
	margin-top: 20px;
	line-height: 0px;
}
.arqueros .title{
	background-color: #303030;
	color: #fff;
	padding: 10px 0 10px 15px;
	margin-bottom: 18px;
}
.arqueros .title h3{
	font-weight: normal;
	margin-bottom: 0px;
}
.arqueros .info p {font-size: 14px}
.arqueros .info h5,
.arqueros .info .name{
	color: #428dc7;
	font-weight: normal;
}
.arqueros .info h5 {
	padding-right: 5px
}
.arqueros p.main-content {
	padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
	.category-image img {display: none}
	.grid12-9{
		padding-top: 15px;
	}
}
@media only screen and (max-width: 479px) {
	.grid12-3{
		text-align: center;
	}
}