<?xml version="1.0"?>
<config>
    <modules>
        <RG_Directory>
            <version>0.1.0</version>
        </RG_Directory>
    </modules>
    <global>
        <models>
            <rg_directory>
                <class>RG_Directory_Model</class>
                <resourceModel>rg_directory_resource</resourceModel>
            </rg_directory>
            <rg_directory_resource>
                <class>RG_Directory_Model_Resource</class>
            </rg_directory_resource>
            <directory>
                <rewrite>
                    <currency>RG_Directory_Model_Currency</currency>
                </rewrite>
            </directory>
        </models>
        <blocks>
            <rg_directory>
                <class>RG_Directory_Block</class>
            </rg_directory>
        </blocks>
        <helpers>
            <rg_directory>
                <class>RG_Directory_Helper</class>
                <directory>
                    <rewrite>
                        <data>RG_Directory_Helper_Data</data>
                    </rewrite>
                </directory>
            </rg_directory>
        </helpers>
        <resources>
            <rg_directory_setup>
                <setup>
                    <module>RG_Directory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </rg_directory_setup>
        </resources>
    </global>
</config>